.nav_background{
  background-image: url("./../images/paper_pulled_compress.png");
  height: 100%;
  width: 100%;
  max-width: 700px;
  max-height: 500px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.nav_elements{
  z-index: 10;
}
.nav_header{
  @include desktop{
    font-size: 6vh;
  }
  font-size: 6vw;
  margin-bottom: 1vh;
  color: #562a18;
}
.nav_description{
  font-size: 3.5vw;
  color: #333030;
  text-align: center;
  @include desktop{
    font-size: 3.3vh;
  }
  p{
    margin-bottom: 1vw;
  }
}
.last{
  text-decoration: underline wavy #bb4239;
}
