$main-font: 'Roboto Condensed', sans-serif;
$question-font: 'Handlee', cursive;
$handed-font: 'Patrick Hand SC', cursive;

$main-color: #8FBC94;
$second-color: #C5E99B;
$text-color: #FFFFF2;

$desktop: 400px;

